.accounts-table{
}
.accounts-header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.accounts-size{
  font-size: 20px;
  background-color: rgba(83, 217, 184, 0.5);
  border-radius: 10px;
  height: 5vh;
  display: flex;
  align-items: center;

  padding-left: 10px;
}
.modal {
  width: 600px;
  margin: 0 auto;
  p {
    margin: 10px 0;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .container-date {
    display: flex;
    gap: 10px;

    input[type='date'] {
      width: 295px;
    }
  }

}
.btn-nav-modal{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.container-date{

}

.account-table-wrapper {
}

.account-table {
}

.account-table th, .account-table td {
  border-top: 2px solid #ecebef;
  border-bottom: 2px solid #ecebef;
  padding: 12px;
  height: 3vh;
  text-align: left;
}

.account-table th {
  font-weight: bold;
}

.account-table tbody tr:hover {
  background-color: #f5f5f5;
}
.btn-create-account{
  cursor: pointer;
  color: white;
  background-color: #026ffd;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
}
.btn-create-account:hover {
  background-color: #044ead;

}

.btn-create-account:active {
  background-color: #013272;
}
