header{
    background-color: rgb(45, 45, 45);
    height: 60px;
}
header > div {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

span, a {
    margin: 15px;
    text-decoration: none;
}

a{
    color: aliceblue;
    height: 35%;
    padding: 16px 7px 20px;
}

.logo{
    display: flex;
    align-items: center;
    border: 3px solid white;
    color: brown;
    height: 47px;
    border-radius: 5px;
}

.link{
    height: 100%;
    display: flex;
    align-items: center;
}

.active{
    border-bottom: 4px solid brown;
}