.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 56, 58);
  height: 5vh;

  .header-navigation {
    display: flex;
    align-content: center;
    align-items: center;

    .header-navigation__item {
      list-style-type: none;
      padding: 20px;
    }

    .header-navigation__link__logo {
      cursor: pointer;
      position: relative;
      text-decoration: none;
      border: 2px solid white;
      color: #ca734e;
      padding: 8px;
      border-radius: 7px;
      font-family: "ManropeSemiBold", sans-serif;
    }

    .header-navigation__link {
      cursor: pointer;
      position: relative;
      text-decoration: none;
      color: white;
      font-family: "ManropeSemiBold", sans-serif;
    }

    .header-navigation__link:before {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      bottom: -1.7vh;
      background-color: #ea561e;
      transform: scaleX(0);
      transition: transform .4s ease-out;
    }

    .header-navigation__link:focus:before, .header-navigation__link:hover:before {
      transform: scaleX(1);
    }

    .header-navigation__link_active:before {
      transform: scaleX(1);
    }
  }
}
