.accounts {
    margin: 0 auto;
    min-width: 900px;
    height: 100vh;
    margin: 0 24%;
}

.accountUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.accountUp h1 {
    margin-top: 12px;
}

.account-title {
    font-size: 22px;
}

.newAccountBtn {
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #007CFF;
    border: none;
    border-radius: 3px;
}


.main-container {
    margin-top: 15px;
}

.main__total {
    width: 100%;
    height: 50px;
    background-color: #D3ECF3;
    border-radius: 3px;
}

.main__total-title {
    padding: 8px 0 0 35px;
    color: #41797a;
    font-size: 13px;
    font-weight: bold;
}

.main__hr {
    background-color: #919191;
    height: 0.9px;
    border: none;
    margin-top: 10px;
}

table {
    min-width: 900px;
    border-collapse: collapse;
    table-layout: fixed;
}

.email {
    width: 215px;
}

th,
td {
    padding: 8px;
    word-wrap: break-word;
    font-size: 13px;
}


.btns {
    display: flex;
    border-radius: 3px;
}

.btnEdit {
    background-color: #06aa99;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    color: #fff;
}

.btnDelete {
    background-color: #747474;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.linksName {
    color: #000;
    font-weight: 400;
}

.linksName:hover {
    color: orangered;
}

.status {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    width: 70px;
}

.red {
    background-color: #DF344A;
}

.blue {
    background-color: #027DFF;
}

.yellow {
    background-color: #FEC20D;
    color: #000;
}


.scroll{
    overflow: hidden;
}