@import './base.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap/dist/css/bootstrap-grid.css';
@import './font/fontawesome-free-5.15.4-web/css/all.css';
@import './font/fontawesome-free-5.15.4-web/css/solid.css';
#app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}